<div class="container overlay">
    <div class="row">
        <div class="col s12">
            <div class="card-panel">
                <h1 style="padding: 300px"> Hasta luego..</h1>
            </div>
        </div>
    </div>
</div>

<script>
    setTimeout(()=>{
        location.href = '/';
    },300);
</script>