<div class="container has-background-white-bis sala">
    
    <div class="columns is-desktop">
        <div class="column is-3 is-hidden-mobile"></div>
        <div class="column">
            <div class="chat">

            </div>
            <form>
                <input type="text" name="txtMensaje" class="input padTopBottom" id="txtMensaje">
                <input type="submit" class="button is-primary is-fullwidth" value="Enviar">
            </form>
        </div>
    </div>

</div>