<div class="container">
    <div class="columns is-desktop">
        <div class="column is-3 is-hidden-mobile">
            <h1 class="has-text-centered title is-5 padTopBottom">Conectados</h1>
            <div class="contactos">

            </div>
        </div>
        <div class="column is-vertical-center">
            <h1 class="has-text-centered title is-5 padTopBottom">Chat</h1>
        
        </div>
    </div>
</div>