<div class="container overlay">
    <div class="row">
        <div class="col s12 center-align">
            <img src="../images/UPIICHATv2.png" alt="UPIICHAT">
            <h3 style="font-style: italic">De la comunidad, para la comunidad</h3>
            <a href="/login" class="btn">Iniciar Sesión</a>
        </div>
    </div>
</div>