<nav>
    <div class="nav-wrapper green">
        <div class="container">
            <a href="/" class="brand-logo">UPIICHAT</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/responsables">Responsables</a></li>
                <li><a href="/contacto">Contacto</a></li>
                <li><a href="/acerca">Acerca de</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col s12">
            <img src="images/UPIICHATv2.png" alt="UPIICHAT" class="responsive-img center-block" style="padding-top:150px">
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h3 class="white-text center" style="font-style: italic">De la comunidad, para la comunidad</h3>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m3"></div>
        <div class="col s12 m6">
            <a href="/login" class="btn btn-block">Ingresar</a>
        </div>
    </div>
</div>
