<nav>
    <div class="nav-wrapper green">
        <div class="container">
            <a href="/" class="brand-logo">UPIICHAT</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/"><i class="material-icons right">home</i> Inicio</a></li>
                <li><a href="/responsables"><i class="material-icons right">people</i> Responsables</a></li>
                <li><a href="/contacto"><i class="material-icons right">mail_outline</i>Contacto</a></li>
                <li><a href="/acerca"><i class="material-icons right">info</i>Acerca de</a></li>
            </ul>
            <ul class="right">
                <li><a href="#" class="hide-on-med-and-up sidenav-trigger"  data-target="menuMoviles"><i class="material-icons">menu</i></a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col s12">
            <img src="images/UPIICHATV3.png" alt="UPIICHAT" class="responsive-img center-block" style="padding-top:150px">
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h3 class="white-text center" style="font-style: italic">De la comunidad, para la comunidad.</h3>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m3"></div>
        <div class="col s12 m6">
            <a href="/login" class="btn btn-block">Ingresar</a>
        </div>
    </div>
</div>

<ul class="sidenav" id="menuMoviles">
    <li class="user-view">
        <h3 class="center">UPIICHAT</h3>
        <p class="center">De la comunidad, para la comunidad.</p>
    </li>
    <li><a href="/"><i class="material-icons left">home</i> Inicio</a></li>
    <li><a href="/responsables"><i class="material-icons left">people</i> Responsables</a></li>
    <li><a href="/contacto"><i class="material-icons left">mail_outline</i>Contacto</a></li>
    <li><a href="/acerca"><i class="material-icons left">info</i>Acerca de</a></li>
 </ul>