<div class="container">
    <div class="columns is-desktop is-centered">
        <div class="column is-half is-5">
            <article id="msg" class="message is-danger padTopBottom" style="display: none">
                <div class="message-header">
                    <p>Advertencia</p>
                </div>
                <div class="message-body">
                    correo y/o contrase침a incorrectos. favor de verificar
                </div>
            </article>
            <div class="card padTopBottom">
                <div class="card header">
                    <h5 class="card-header-title">
                        Iniciar Sesi칩n
                    </h5>
                </div>
                <form id="login">
                    <div class="card-content">
                        <div class="field">
                            <label for="nickname" class="Label">Nombre de usuario</label>
                            <div class="control has-icons-left">
                                <input type="text" name="nickname" id="nickname" autofocus class="input" required>
                                <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label for="txtPassword">Contrase침a</label>
                            <div class="control has-icons-left">
                                <input type="password" name="txtPassword" id="txtPassword" class="input" required>
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <input type="submit" value="Iniciar sesi칩n" class="card-footer-item">
                        <a href="/registro" class="card-footer-item">Registrarse</a>
                    </footer>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="js/login.js"></script>