<div class="container overlay">
    <div class="row " style="width: 100%">
        <div class="col s12 m3">
        </div>
        <div class="col s12 m6 center-align">
            <img src="../images/UPIICHAT.png" width="150" style="margin-top: -150px" alt="UPIICHAT">
            <div class="card-panel hide red white-text" id="msg">
                Contraseña y/o usuario incorrectos, <a href="/recovery" class="enlace white-text">Recuperar Contraseña</a>
            </div>
            <div class="card center-align animated fadeIn">
                <div class="card-content">
                    <div class="card-title ">
                        <span class="padTopBottom">
                            Iniciar Sesión
                        </span>                
                    </div>
                    <form id="login" autocomplete="off">
                        <div class="input-field">
                            <i class="material-icons prefix">account_circle</i>
                            <label for="nickname">Nombre de usuario</label>
                            <input type="text" required class="validate" autofocus id="nickname" name="nickname">
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">lock</i>                            
                            <label for="txtPassword">Contraseña</label>
                            <input type="password" required class="validate" id="txtPassword" name="txtPassword">
                        </div>
                        <div class="input-field">
                            <button class="btn btn-block waves-effect waves-light">Iniciar Sesión</button>
                        </div>
                        <div class="input-field">
                            <a href="/registro" class="btn btn-block btn-flat waves-effect waves-light">Registrarse</a>
                        </div>
                    </form>                                        
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large cyan tooltipped" href="/"  data-position="left" data-tooltip="volver a inicio">
        <i class="large material-icons">keyboard_backspace</i>
    </a>
</div>

<script src="js/login.js"></script>