<div class="container overlay">
    <div class="row" style="width: 100%">
        <div class="col s12 m3"></div>
        <div class="col s12 m6">
            <div class="card">
                <form autocomplete="off">
                    <div class="card-content">
                        <div class="card-title">Recuperar Contraseña</div>
                        <p>
                            Favor de ingresar el correo electrónico con el que te registraste
                        </p>
                        <div class="input-field">
                            <label for="txtEmail">Correo Electrónico</label>
                            <input type="text" name="txtEmail" class="validate" id="txtEmail" required autofocus>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="">Recuperar</a>
                    </div>
                </form>                
            </div>
        </div>
    </div>
</div>