<div class="container overlay">
    <div class="row" style="width: 100%">
        <div class="col s12 m3"></div>
        <div class="col s12 m6">
            <div class="card-panel yellow animated shake hide" id="mensaje">
                El correo ingresado no se encuentra registrado
            </div>
            <div class="card" id="carta">
                <form autocomplete="off" id="recoveryForm">
                    <div class="card-content" id="contenido1">
                        <div class="card-title">Recuperar Contraseña</div>
                        <p>
                            Favor de ingresar el correo electrónico con el que te registraste.
                        </p>
                        <div class="input-field">
                            <label for="txtEmail">Correo Electrónico</label>
                            <input type="email" name="txtEmail" class="validate" id="txtEmail" required autofocus>
                        </div>
                    </div>
                    <div class="card-content hide" id="contenido2">
                        <div class="card-title">Correo Enviado</div>
                        <h5>Favor de revisar tu correo electrónico para proseguir con la recuperación de la contraseña.</h5>
                    </div>
                    <div class="card-action">
                        <input type="submit" class="btn" value="Recuperar" id="btnEnviar">
                    </div>
                </form>                
            </div>
        </div>
    </div>
</div>

<script src="js/recovery.js"></script>