<nav>
    <div class="nav-wrapper green">
        <div class="container">
            <a href="/" class="brand-logo">UPIICHAT</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/"><i class="material-icons right">home</i> Inicio</a></li>
                <li><a href="/responsables"><i class="material-icons right">people</i> Responsables</a></li>
                <li><a href="/contacto"><i class="material-icons right">mail_outline</i>Contacto</a></li>
                <li><a href="/acerca"><i class="material-icons right">info</i>Acerca de</a></li>
            </ul>
            <ul class="right">
                <li><a href="#" class="hide-on-med-and-up sidenav-trigger"  data-target="menuMoviles"><i class="material-icons">menu</i></a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container white-text">
    <div class="row">
        <div class="col s12">
            <h1 class="center">Responsables</h1>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <h5 class="center">INSTITUTO POLITÉCNICO NACIONAL</h5>
            <img src="images/Escudo-IPN.png" alt="IPN" class="responsive-img center-block" style="width: 150px;">
        </div>
        <div class="col s12 m6">
            <h5 class="center">UPIICSA</h5>
            <img src="images/icon.png" alt="UPIICSA" class="responsive-img center-block" style="width: 150px">
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h2 class="center">EQUIPO</h2>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m4">
            <img src="images/1.jpg" alt="miembro" class="responsive-img center-block" style=" height: 120px">
            <h5 class="center">Aguilar Faustino Edgar</h5>
            <h6 class="center" style="font-style: italic">Jefe de proyecto</h6>
        </div>
        <div class="col s12 m4">
            <img src="images/2.jpg" alt="miembro" class="responsive-img center-block" style="height: 120px">
            <h5 class="center">Bautista Jiménez Marco Antonio</h5>
            <h6 class="center" style="font-style: italic">Analista</h6>
        </div>
        <div class="col s12 m4">
            <img src="images/4.jpg" alt="miembro" class="responsive-img center-block" style="height: 120px">
            <h5 class="center">Cruz Hernández Luis Fernando</h5>
            <h6 class="center" style="font-style: italic">Tester</h6>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <img src="images/3.jpg" alt="miembro" class="responsive-img center-block" style="height: 120px">
            <h5 class="center">Herrera Mauricio Pedro Alonso</h5>
            <h6 class="center" style="font-style: italic">Programador</h6>
        </div>
        <div class="col s12 m6">
            <img src="images/5.png" alt="miembro" class="responsive-img center-block" style="height: 120px">
            <h5 class="center">Rodea Nambo José Ángel</h5>
            <h6 class="center" style="font-style: italic">Diseñador</h6>
        </div>
    </div>
</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large cyan tooltipped" href="/"  data-position="left" data-tooltip="volver a inicio">
        <i class="large material-icons">keyboard_backspace</i>
    </a>
</div>

<ul class="sidenav" id="menuMoviles">
    <li class="user-view">
        <h3 class="center">UPIICHAT</h3>
        <p class="center">De la comunidad, para la comunidad</p>
    </li>
    <li><a href="/"><i class="material-icons left">home</i> Inicio</a></li>
    <li><a href="/responsables"><i class="material-icons left">people</i> Responsables</a></li>
    <li><a href="/contacto"><i class="material-icons left">mail_outline</i>Contacto</a></li>
    <li><a href="/acerca"><i class="material-icons left">info</i>Acerca de</a></li>
 </ul>