<div class="container">
    <div class="card-panel">
        <h4>Terminos y condiciones</h4>
        <p>
            UPIICHAT es un sistema que permite a la comunidad estudiantil conectarse entre sí, establecer relaciones de
            amistad y hacer crecer el compañerismo. Estas condiciones rigen el uso del sistema, las funcionalidades, los
            servicios, las tecnologías y el software que ofrecemos, excepto cuando indiquemos expresamente que se aplican
            otras condiciones distintas de estas.
        </p>
        <p>
            No cobramos por el uso del sistema y servicios que se incluyen en estas Condiciones. No vendemos tus datos
            personales a los demás usuarios del sistema ni compartimos ningún tipo de información que te identifique
            (como tu nombre y dirección de correo electrónico) con ellos, a menos de que nos den un permiso específico.
        </p>
        <h5>Tus compromisos con UPIICHAT y nuestra comunidad</h5>
        <h6>1. Quién puede usar UPIICHAT</h6>
        <p>
            Queremos que nuestra comunidad sea un entorno seguro en el que las personas se responsabilicen de sus opiniones
            y sus acciones, Por este motivo, debes:
        </p>
        <ul>
            <li>Usar el mismo nombre con el que estas registrado dentro del IPN.</li>
            <li>Proporcionar los mismos datos proporcionados en tu inscripción al IPN</li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>