<div class="container">
    <div class="col s12">
        <h1>Upload File</h1>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <div class="input-field">
                <label for="archivo">Archivo</label>
                <input type="file" name="archivo" id="archivo">
            </div>
            <div class="input-field">
                <input type="submit" value="enviar">
            </div>
        </form>
    </div>
</div>




<script src="js/test.js"></script>

<script>

</script>