<div class="container">
    <div class="col s12 card-panel">
        <h1>Upload File</h1>
       <img src="/users/perfil.png" alt="perfil">
        <form id="formTest" enctype="multipart/form-data">
            <input type="text" name="txtNombre" id="txtNombre" placeholder="Nombre">
            <input type="submit" value="Enviar">
        </form>
    
    </div>
</div>


<script>
    document.querySelector('#formTest').addEventListener('submit', e =>{
        e.preventDefault();
        let dicc = /pedro|pablo/;
        if(dicc.test(document.querySelector('#txtNombre').value.trim())){
            console.log('coinciden');
        }
        else {
            console.log('no coincidem');
        }
        

    });
    

    
</script>
