@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../iconfont/MaterialIcons-Regular.eot'); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url('../iconfont/MaterialIcons-Regular.woff2') format('woff2'),
      url('../iconfont/MaterialIcons-Regular.woff') format('woff'),
      url('../iconfont/MaterialIcons-Regular.ttf') format('truetype');
  }

  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

.mensaje .nickname {
    font-weight: bold;
    padding: 5px 0 0 5px;
    color: #0D47A1;
}

.mensaje .contenido {
    padding: 5px 3px;
    border-bottom: 1px solid lightgray;
}

.padTopBottom {
    margin: 1em 0;
}
.tall100{
    min-height: 100vh;
}

.chat {
    height: 50vh;
    border-radius: 3px;
    width: 100%;
    border: 1px solid lightgray;
    overflow: hidden;
    overflow-y: scroll;
}

.conectados {
    height: 57.8vh;
}

.fixButtonTitle {
    margin-bottom: -50px;

}

.is-vertical-center {
    -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
  }

.fondo {
    min-height: 100vh;
    background-position: center;
    background-image: linear-gradient(to bottom, rgba(136, 136, 136, 0.411), rgba(29, 247, 47, 0.301)),
    url('../images/upiicsa.jpg');
    background-size: cover;
}

.btn-block {
    width: 100%;
}

.btn-block.all {
    margin-top: 15px;
}

.overlay {
    position: fixed; /* con esto abarcamos todo la pantalalla */
    bottom: 0;
    left: 0;
    top:0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sala {
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

/* estilos de de los contactos */
.contacto {
    border-bottom: 1px solid lightgray;
    padding: 8px 0;
}
.contacto .titulo {
    color: #0D47A1;
    padding: 10px 0 0 10px;
    font-weight: bold;
    font-size: 16px;
}
.contacto .escribiendo {
    padding: 0 0 0 10px;
    font-style: italic;
}
.conectados {
    overflow: hidden;
    overflow-y: scroll;
}

.scroll::-webkit-scrollbar{
    width: 7px;
    background: rgba(132, 132, 132, 0.25);
    border-radius: 2px;
}

.scroll::-webkit-scrollbar-thumb {
    background: #0D47A1;
    border-radius: 3px;
}

.enlace {
    font-weight: bold;
}